name: Website

on:
  push:
    paths:
      - .github/workflows/website.yml
      - pcb/**
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: website
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build-website:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: rafaelmartins/website/kicad@main
        with:
          source: ./pcb

      - uses: actions/configure-pages@v5

      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./pcb/_build

  deploy-website:
    runs-on: ubuntu-latest
    needs:
      - build-website

    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
